/*
 text.less
*/

.fancy-bar-text {
  color: #8a8a8a;
  line-height: 16px;
  font-family: Lucida Grande,verdana,tahoma,arial,sans-serif,Lucida Sans;
  font-size: 11px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
}