/*
 blue.less
*/

.fancy-theme-blue {
  //border-radius: 0px;

  .fancy-combo-list-active {
    background-color: #d9e1e9 !important;
    color: #2B587A !important;
  }

  .fancy-form {
    background-color: #F0F2F4;
  }

  .fancy-panel-tbar {
    background-color: #F0F2F4 !important;
  }

  .fancy-panel-bbar {
    background-color: #F0F2F4 !important;
  }

  .fancy-button-text {
    font-weight: normal;
  }

  .fancy-panel-header {
    background-color: #5B7FA6;
  }

  .fancy-field-checkbox-input {
    background-image: url(images/blue_check.png);
    background-size: 15px 75px;
    background-position: 0 0px;
    width: 15px;
    height: 15px !important;
  }

  .fancy-field-checkbox-input:hover {
    background-position: 0px -30px;
  }

  .fancy-checkbox-on .fancy-field-checkbox-input {
    background-position: 0px -15px;
  }

  .fancy-checkbox-on .fancy-field-checkbox-input:hover {
    background-position: 0px -45px;
  }

  .fancy-field-label {
    font-weight: normal;
    font-size: 11px;
  }

  .fancy-field-radio-input {
    background-image: url(images/blue_radio.png);
    background-size: 14px 70px;
  }
}