/*
 combo.less
*/
.fancy-combo {
  position: relative;

  .fancy-combo-input-container {
    background: #FFF;
    border: 1px solid #C3CBD4;
    overflow: hidden;
    .fancy-field-text-input {
      padding-right: 27px;
    }
  }

  input {
    padding: 7px;
    margin: 0;
    height: 13px;
    color: #2B587A;
    float: left;
    outline: 0;
    font: normal 11px/16px tahoma, arial, sans-serif;
    border: none;
  }

  .fancy-field-text-input {
    border: none;
  }

  .fancy-combo-dropdown-button {
    z-index: 0;
    width: 27px;
    border: none;
    padding: 0;
    position: absolute;
    right: 0;
    top: -1px;
    height: 30px;
    cursor: pointer;
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%226%22%20viewBox%3D%22944%201152%208%204%22%3E%3Cpath%20fill%3D%22%2392A0B1%22%20d%3D%22M945.2%201152.2C944.9%201152%20944.5%201152%20944.3%201152.3%20944.1%201152.6%20944.1%201153%20944.4%201153.2L947.6%201155.8C947.8%201156%20948.2%201156%20948.4%201155.8L951.6%201153.2C951.9%201153%20951.9%201152.6%20951.7%201152.3%20951.5%201152%20951.1%201152%20950.8%201152.2L948%201154.5%20945.2%201152.2Z%22%2F%3E%3C%2Fsvg%3E');
    background-position: 9px 13px;
    background-repeat: no-repeat;
  }

  .fancy-field-text {
    position: relative;
  }
}

.fancy-combo-result-list {
  position: absolute;
  right: 0;
  border: 1px solid #c0cad5;
  background-color: white;
  margin-top: -1px;
  z-index: 1;
  li {
    list-style-type: none;
    padding: 7px 0 5px 10px;
    font: normal 11px/16px tahoma, arial, sans-serif;
    color: #2B587A;
    cursor: pointer;
  }

  //li.fancy-combo-list-active {
  li:hover {
    background: #048DC8;
    color: #FFFFFF;
    .opacity(0.8);
  }

  li.fancy-combo-item-selected {
    background: #048DC8;
    color: #FFFFFF;
  }

  li.fancy-combo-item-focused {
    background: #048DC8;
    color: #FFFFFF;
    .opacity(0.8);
  }

  ul {
    margin-bottom: 0;
  }

  .fancy-field-checkbox-input {
    margin-top: 1px;
    &:hover{
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23F2F4F8%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20rx%3D%222%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23C1C9D1%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    }
  }

  .fancy-combo-item-selected {
    .fancy-field-checkbox-input {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20rx%3D%222%22%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23C1C9D1%22%2F%3E%3Cpath%20stroke%3D%22%235181B8%22%20zoom%3D%221.5%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      &:hover {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23F2F4F8%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20rx%3D%222%22%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23C1C9D1%22%2F%3E%3Cpath%20stroke%3D%22%235181B8%22%20zoom%3D%221.5%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
    }
  }

  .fancy-combo-list-sub-search-container {
    height: 30px;
    border-bottom: 1px solid #c0cad5;
  }
}

.fancy-combo-left-el {
  display: none;
  position: absolute;
  left: 0;
  top: -1px;
}

.fancy-combo-left-el span {
  left: 8px;
  top: 11px;
}

.fancy-combo-list-sub-search-container {
  height: 30px;
  border-bottom: 1px solid #c0cad5;
}