/*
 dark.less
*/

.fancy-theme-dark {
  .fancy-grid {
    background-color: #3c3c3c;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    border-top-color: #5a5a5a;
  }

  .fancy-grid-left {
    border-right-color: #5a5a5a;
    .fancy-grid-header {
      border-right-color: #5a5a5a;
    }
  }

  .fancy-grid-right {
    border-left-color: #5a5a5a;
  }

  .fancy-panel-body {
    background-color: transparent;
    border: 2px solid #000;
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    border-bottom-width: 0 !important;
    border-right-width: 1px !important;
  }

  .fancy-grid-header-cell {
    color: #ccc;
    font-size: 11px;
    background: rgba(85, 85, 85, .35);
    border-right-color: #000;
    border-top: 1px solid #5a5a5a;
    //.transition(all .2s ease-out);
    .transition(background .2s ease-out);
    &:hover {
      border-top-color: #2f2f2f;
      background: #2f2f2f;
    }
  }

  .fancy-grid-header-cell.fancy-grid-header-cell-group-level-2 {
    border-bottom: 1px solid #000;
  }

  .fancy-panel-header {
    border-bottom-color: #5a5a5a;
  }

  .fancy-grid-header-cell-container {
    border-left-width: 0;
  }

  .fancy-grid-header {
    background-color: #2C2C2C;
    border-bottom-color: #000;
    box-shadow: inset 78px 70px 22px 12px rgba(255, 255, 255, .1);
  }

  .fancy-grid-column {
    background-color: #3c3c3c;
  }

  .fancy-grid-cell {
    background: #363636;
    color: #aaa;
    border-bottom-color: #000;
    border-left-color: #404040;
    border-right-color: #000;
    border-top-color: #404040;
  }

  .fancy-grid-cell-even {
    background: #2f2f2f;
  }

  .fancy-scroll-right {
    background-color: #363636;
  }

  .fancy-scroll-right-inner {
    background-color: #2c2c2c;
  }

  .fancy-grid-body {
    background-color: #3c3c3c;
  }

  .fancy-scroll-bottom {
    background-color: #363636;
  }

  .fancy-scroll-bottom-inner {
    background-color: #2c2c2c;
  }

  .fancy-grid-column .fancy-grid-cell-over {
    background: #222;
  }

  .fancy-grid-column .fancy-grid-cell-selected {
    background: #222;
  }

  .fancy-grid-column-selected .fancy-grid-cell {
    background: #222;
  }

  .fancy-grid-column-sort-ASC .fancy-grid-header-cell-text {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%231f91c2%22%20d%3D%22M288.662%20352H31.338c-17.818%200-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81%2020.474-7.81%2028.284%200l128.662%20128.662c12.6%2012.599%203.676%2034.142-14.142%2034.142z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-column-sort-DESC .fancy-grid-header-cell-text {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%231f91c2%22%20d%3D%22M31.3%20192h257.3c17.8%200%2026.7%2021.5%2014.1%2034.1L174.1%20354.8c-7.8%207.8-20.5%207.8-28.3%200L17.2%20226.1C4.6%20213.5%2013.5%20192%2031.3%20192z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-field-spin {
    .fancy-field-spin-up {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%231f91c2%22%20d%3D%22M136.5%20185.1l116%20117.8c4.7%204.7%204.7%2012.3%200%2017l-7.1%207.1c-4.7%204.7-12.3%204.7-17%200L128%20224.7%2027.6%20326.9c-4.7%204.7-12.3%204.7-17%200l-7.1-7.1c-4.7-4.7-4.7-12.3%200-17l116-117.8c4.7-4.6%2012.3-4.6%2017%20.1z%22%2F%3E%3C%2Fsvg%3E');
    }

    .fancy-field-spin-down {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2230%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%231f91c2%22%20d%3D%22M119.5%20326.9L3.5%20209.1c-4.7-4.7-4.7-12.3%200-17l7.1-7.1c4.7-4.7%2012.3-4.7%2017%200L128%20287.3l100.4-102.2c4.7-4.7%2012.3-4.7%2017%200l7.1%207.1c4.7%204.7%204.7%2012.3%200%2017L136.5%20327c-4.7%204.6-12.3%204.6-17-.1z%22%2F%3E%3C%2Fsvg%3E');
    }
  }

  .fancy-grid-cell-wrapper {
    border-left: 1px solid #404040;
    border-top: 1px solid #404040;
  }

  .fancy-grid-column-over .fancy-grid-cell {
    background: #222;
  }

  .fancy-button {
    //background: rgba(85, 85, 85, .35);
    //border: 1px solid #5a5a5a;
    border-color: transparent;

    .fancy-button-text {
      color: #ccc;
    }

    &:hover {
      background: #5a5a5a;
      border: 1px solid #5a5a5a;
    }

    &:active {
      box-shadow: none;
      background: #555;
    }
  }

  .fancy-button-disabled:hover {
    //background: rgba(85, 85, 85, .35);
    background: transparent;
    border-color: transparent;
  }

  .fancy-bar-button-disabled:hover {
    //background: rgba(85, 85, 85, .35);
    background: transparent;
    border-color: transparent;
  }

  .fancy-button-disabled:active {
    //background: rgba(85, 85, 85, .35);
    box-shadow: none;
    background: transparent;
    border-color: transparent;
  }

  .fancy-field-text-input {
    border: 1px solid #151515;
    background: #222;
    color: #ddd;
    .transition(all .2s ease-out);

    &:focus {
      //border: 1px solid #ccc;
      background-color: #363636;
      border: 1px solid #151515;
    }
  }

  .fancy-grid-resizer-left {
    border-right: 2px dashed #ed2;
  }

  .fancy-grid-resizer-right {
    border-right: 2px dashed #fc2;
  }

  .fancy-field-not-valid input {
    background: #f9d3d5 !important;
    border: 1px solid #f9d3d5 !important;
    color: red;
    font-weight: bold;
  }

  .fancy-paging-next {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%231f1f1f%22%20d%3D%22M224.3%20273l-136%20136c-9.4%209.4-24.6%209.4-33.9%200l-22.6-22.6c-9.4-9.4-9.4-24.6%200-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6%200-33.9L54.3%20103c9.4-9.4%2024.6-9.4%2033.9%200l136%20136c9.5%209.4%209.5%2024.6.1%2034z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-paging-prev {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%231f1f1f%22%20d%3D%22M31.7%20239l136-136c9.4-9.4%2024.6-9.4%2033.9%200l22.6%2022.6c9.4%209.4%209.4%2024.6%200%2033.9L127.9%20256l96.4%2096.4c9.4%209.4%209.4%2024.6%200%2033.9L201.7%20409c-9.4%209.4-24.6%209.4-33.9%200l-136-136c-9.5-9.4-9.5-24.6-.1-34z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-paging-first {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22%231f1f1f%22%20d%3D%22M223.7%20239l136-136c9.4-9.4%2024.6-9.4%2033.9%200l22.6%2022.6c9.4%209.4%209.4%2024.6%200%2033.9L319.9%20256l96.4%2096.4c9.4%209.4%209.4%2024.6%200%2033.9L393.7%20409c-9.4%209.4-24.6%209.4-33.9%200l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192%2034l136%20136c9.4%209.4%2024.6%209.4%2033.9%200l22.6-22.6c9.4-9.4%209.4-24.6%200-33.9L127.9%20256l96.4-96.4c9.4-9.4%209.4-24.6%200-33.9L201.7%20103c-9.4-9.4-24.6-9.4-33.9%200l-136%20136c-9.5%209.4-9.5%2024.6-.1%2034z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-paging-last {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22%231f1f1f%22%20d%3D%22M224.3%20273l-136%20136c-9.4%209.4-24.6%209.4-33.9%200l-22.6-22.6c-9.4-9.4-9.4-24.6%200-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6%200-33.9L54.3%20103c9.4-9.4%2024.6-9.4%2033.9%200l136%20136c9.5%209.4%209.5%2024.6.1%2034zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9%200l-22.6%2022.6c-9.4%209.4-9.4%2024.6%200%2033.9l96.4%2096.4-96.4%2096.4c-9.4%209.4-9.4%2024.6%200%2033.9l22.6%2022.6c9.4%209.4%2024.6%209.4%2033.9%200l136-136c9.4-9.2%209.4-24.4%200-33.8z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-paging-refresh {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%231f1f1f%22%20d%3D%22M256.455%208c66.269.119%20126.437%2026.233%20170.859%2068.685l35.715-35.715C478.149%2025.851%20504%2036.559%20504%2057.941V192c0%2013.255-10.745%2024-24%2024H345.941c-21.382%200-32.09-25.851-16.971-40.971l41.75-41.75c-30.864-28.899-70.801-44.907-113.23-45.273-92.398-.798-170.283%2073.977-169.484%20169.442C88.764%20348.009%20162.184%20424%20256%20424c41.127%200%2079.997-14.678%20110.629-41.556%204.743-4.161%2011.906-3.908%2016.368.553l39.662%2039.662c4.872%204.872%204.631%2012.815-.482%2017.433C378.202%20479.813%20319.926%20504%20256%20504%20119.034%20504%208.001%20392.967%208%20256.002%207.999%20119.193%20119.646%207.755%20256.455%208z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-field-checkbox-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23cccccc%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20height%3D%2214%22%20rx%3D%222%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23525252%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    &:hover {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23aaaaaa%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20rx%3D%222%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23525252%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    }
  }

  .fancy-checkbox-on {
    .fancy-field-checkbox-input {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23cccccc%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20rx%3D%222%22%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23525252%22%2F%3E%3Cpath%20stroke%3D%22%23525252%22%20zoom%3D%221.5%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      &:hover {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23aaaaaa%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20rx%3D%222%22%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23525252%22%2F%3E%3Cpath%20stroke%3D%22%23525252%22%20zoom%3D%221.5%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
    }
  }

  .fancy-grid-group-row-inner {
    background-image: url(images/dark/options-slide.png);
  }

  .fancy-field-picker-button {
    background-image: url(images/dark/calendar.png);
  }

  .fancy-separator {
    border-right-color: #000;
    div {
      border-right-color: #404040;
    }
  }

  .fancy-grid-group-row {
    color: #ccc;
    background: #363636;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    -webkit-box-shadow: inset 0px 0px 0px 1px #404040, inset 0px 1px 1px 0px #404040;
    box-shadow: inset 0px 0px 0px 1px #404040, inset 0px 1px 1px 0px #404040;
  }

  .fancy-picker-button-date-wrapper {
    width: 234px;
  }

  .fancy-grid-column .fancy-month-picker-cell-active {
    background-color: #222;
  }

  .fancy-panel-footer {
    .fancy-footer-status {
      color: #7d7a7a;
    }
    .fancy-status-source-text {
      color: #ccc;
    }

    .fancy-status-source-link {
      color: #048DC8;
    }
  }

  .fancy-form {
    background-color: #3C3C3C;
    border-color: #5a5a5a;
    border-left-color: #000;
    border-right-color: #000;
    border-bottom-color: #000;
    .fancy-combo-input-container {
      background-color: inherit;
      border-width: 0;
    }
  }

  .fancy-textarea-text-input {
    background-color: #222;
    border: 1px solid #151515;
    color: #ddd;
    .transition(all .2s ease-out);

    &:focus {
      background-color: #363636;
      border: 1px solid #151515;
    }
  }

  .fancy-field {
    .fancy-field-label {
      color: #ccc;
    }
  }

  .fancy-date-picker.fancy-grid {
    border-bottom-width: 0;
    .fancy-grid-header-cell {
      border-top-width: 0;
    }
  }

  .fancy-month-picker .fancy-grid {
    border-bottom: 1px solid #5a5a5a;
  }

  .fancy-field-switcher {
    .fancy-field-text {

    }
  }

  .fancy-switcher-on.fancy-field-switcher {
    .fancy-field-text {
      background-color: #B5B9C4;
      &:after {
        background-color: #525252;
        border-color: #CCCCCC;
        border-width: 2px;
        top: -4px;
      }
    }
  }

  .fancy-field-radio {
    .fancy-field-text {
      color: #ccc;
    }
  }

  .fancy-field-radio-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Ccircle%20id%3D%22a%22%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%226.5%22%20stroke%3D%22%23525252%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }

  .fancy-field-text:hover .fancy-field-radio-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Ccircle%20id%3D%22a%22%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23F2F4F8%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%226.5%22%20stroke%3D%22%23525252%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }

  .fancy-field-radio-on .fancy-field-radio-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Ccircle%20id%3D%22a%22%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%226.5%22%20stroke%3D%22%23525252%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%223%22%20fill%3D%22%23525252%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }

  .fancy-field-radio-on:hover .fancy-field-radio-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Ccircle%20id%3D%22a%22%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23F2F4F8%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%226.5%22%20stroke%3D%22%23525252%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%223%22%20fill%3D%22%23525252%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }

  .fancy-seg-button div.fancy-button {
    margin-left: 0;
  }

  .fancy-field-button div.fancy-button {
    margin-left: 0;
  }

  .fancy-button.fancy-button-pressed {
    background: #222;
    border: 1px solid #5a5a5a;
  }

  .fancy-field-search {
    .fancy-field-text {
      background: #222;
    }
  }

  .fancy-panel-resize-corner {
    bottom: 1px;
    right: 0;
    border-bottom-color: #000;
    &:before {
      bottom: -13px;
      border-bottom-color: #ccc;
    }
  }

  .fancy-combo-input-container {
    border-color: #5a5a5a;
  }

  .fancy-grid-column-order .fancy-grid-cell {
    background: rgba(85, 85, 85, .35);
  }

  .fancy-grid-column-order .fancy-grid-cell.fancy-grid-cell-selected {
    background: rgba(85, 85, 85, .35);
  }

  .fancy-grid-row-edit {
    background-color: #363636;
    border-color: #000;
  }

  .fancy-grid-row-edit-buttons {
    background-color: #363636;
    border-color: #000;
  }

  .fancy-checkbox-expander .fancy-field-checkbox-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%231f91c2%22%20d%3D%22M24.707%2038.101L4.908%2057.899c-4.686%204.686-4.686%2012.284%200%2016.971L185.607%20256%204.908%20437.13c-4.686%204.686-4.686%2012.284%200%2016.971L24.707%20473.9c4.686%204.686%2012.284%204.686%2016.971%200l209.414-209.414c4.686-4.686%204.686-12.284%200-16.971L41.678%2038.101c-4.687-4.687-12.285-4.687-16.971%200z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-checkbox-expander.fancy-checkbox-on .fancy-field-checkbox-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22%231f91c2%22%20d%3D%22M441.9%20167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17%200L224%20328.2%2042.9%20147.5c-4.7-4.7-12.3-4.7-17%200L6.1%20167.3c-4.7%204.7-4.7%2012.3%200%2017l209.4%20209.4c4.7%204.7%2012.3%204.7%2017%200l209.4-209.4c4.7-4.7%204.7-12.3%200-17z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-expand-row {
    border-bottom-color: #000;
  }

  .fancy-grid-expand-row.fancy-grid-expand-row-over {
    background: #222;
  }

  .fancy-grid-expand-row.fancy-grid-expand-row-selected {
    background: #222;
  }

  .fancy-grid-header-cell-trigger {
    background: #2f2f2f;
    border-color: #000;
  }

  .fancy-menu-item-text {
    color: #ccc;
  }

  .fancy-menu-item-active {
    .fancy-menu-item-text {
      color: #fff;
    }
    .fancy-menu-item-side-text {
      color: #fff;
    }
  }

  .fancy-grid-header .fancy-grid-header-cell:first-child .fancy-grid-header-cell-container {
    border-left-width: 0;
  }

  .fancy-bar-left-scroller {
    background-color: #454545;
    margin-left: 0 !important;
    border-right: 1px solid #000;
    &:hover {
      background-color: #404040;
      border-right: 1px solid #000;
    }
  }

  .fancy-bar-right-scroller {
    background-color: #454545;
    margin-right: 0 !important;
    border-left: 1px solid #000;
    &:hover {
      background-color: #404040;
      border-left: 1px solid #000;
    }
  }

  .fancy-bar-right-scroller .fancy-button-image {
    background-image: url(images/dark/bar-nav.png);
  }

  .fancy-bar-left-scroller .fancy-button-image {
    background-image: url(images/dark/bar-nav.png);
  }

  .fancy-panel-sub-tbar {
    background-color: #363636;
    border-top-width: 0;
    border-color: #000;
    border-bottom: 1px solid #000;
  }

  .fancy-date-picker-cell-out-range {
    .fancy-grid-cell-inner {
      .opacity(0.4);
    }
  }

  .fancy-date-picker-cell-out-min-max {
    background: #222;
    .fancy-grid-cell-inner {
      .opacity(0.4);
    }
  }

  .fancy-button-menu .fancy-button-drop {
    background-image: url(images/dark/bottom.png);
  }

  .fancy-menu-item-sep {
    background: #363636;
    border-bottom: 1px solid #5a5a5a;
    border-top: none;
    box-shadow: inset 0px 0px 0px 1px #404040, inset 0px 1px 1px 0px #404040;
  }

  .fancy-menu-item-expand {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%231f91c2%22%20d%3D%22M24.707%2038.101L4.908%2057.899c-4.686%204.686-4.686%2012.284%200%2016.971L185.607%20256%204.908%20437.13c-4.686%204.686-4.686%2012.284%200%2016.971L24.707%20473.9c4.686%204.686%2012.284%204.686%2016.971%200l209.414-209.414c4.686-4.686%204.686-12.284%200-16.971L41.678%2038.101c-4.687-4.687-12.285-4.687-16.971%200z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-menu-item-active .fancy-menu-item-expand {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M24.707%2038.101L4.908%2057.899c-4.686%204.686-4.686%2012.284%200%2016.971L185.607%20256%204.908%20437.13c-4.686%204.686-4.686%2012.284%200%2016.971L24.707%20473.9c4.686%204.686%2012.284%204.686%2016.971%200l209.414-209.414c4.686-4.686%204.686-12.284%200-16.971L41.678%2038.101c-4.687-4.687-12.285-4.687-16.971%200z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-header-cell-trigger-up {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2230%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%231f91c2%22%20d%3D%22M136.5%20185.1l116%20117.8c4.7%204.7%204.7%2012.3%200%2017l-7.1%207.1c-4.7%204.7-12.3%204.7-17%200L128%20224.7%2027.6%20326.9c-4.7%204.7-12.3%204.7-17%200l-7.1-7.1c-4.7-4.7-4.7-12.3%200-17l116-117.8c4.7-4.6%2012.3-4.6%2017%20.1z%22%2F%3E%3C%2Fsvg%3E');
    background-position: 0 0;
  }

  .fancy-menu-item-active .fancy-grid-header-cell-trigger-up {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2230%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M136.5%20185.1l116%20117.8c4.7%204.7%204.7%2012.3%200%2017l-7.1%207.1c-4.7%204.7-12.3%204.7-17%200L128%20224.7%2027.6%20326.9c-4.7%204.7-12.3%204.7-17%200l-7.1-7.1c-4.7-4.7-4.7-12.3%200-17l116-117.8c4.7-4.6%2012.3-4.6%2017%20.1z%22%2F%3E%3C%2Fsvg%3E');
    background-position: 0 0;
  }

  .fancy-grid-header-cell-trigger-down {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2230%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%231f91c2%22%20d%3D%22M119.5%20326.9L3.5%20209.1c-4.7-4.7-4.7-12.3%200-17l7.1-7.1c4.7-4.7%2012.3-4.7%2017%200L128%20287.3l100.4-102.2c4.7-4.7%2012.3-4.7%2017%200l7.1%207.1c4.7%204.7%204.7%2012.3%200%2017L136.5%20327c-4.7%204.6-12.3%204.6-17-.1z%22%2F%3E%3C%2Fsvg%3E');
    background-position: 0 0;
  }

  .fancy-menu-item-active .fancy-grid-header-cell-trigger-down {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2230%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M119.5%20326.9L3.5%20209.1c-4.7-4.7-4.7-12.3%200-17l7.1-7.1c4.7-4.7%2012.3-4.7%2017%200L128%20287.3l100.4-102.2c4.7-4.7%2012.3-4.7%2017%200l7.1%207.1c4.7%204.7%204.7%2012.3%200%2017L136.5%20327c-4.7%204.6-12.3%204.6-17-.1z%22%2F%3E%3C%2Fsvg%3E');
    background-position: 0 0;
  }

  .fancy-combo-item-selected {
    .fancy-field-checkbox-input {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20width%3D%2215%22%20height%3D%2215%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20fill%3D%22%23cccccc%22%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23525252%22%2F%3E%3Cpath%20stroke%3D%22%23525252%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      &:hover {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20width%3D%2215%22%20height%3D%2215%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20fill%3D%22%23555555%22%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23525252%22%2F%3E%3Cpath%20stroke%3D%22%23151515%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
    }
  }

  .fancy-combo .fancy-combo-input-container {
    background: initial;
  }

  .fancy-grid-cell-flash {
    background: #048DC8 !important;
    color: #ccc;
  }

  .fancy-field-pass-tip {
    background: #3C3C3C;
    color: #ccc;
  }

  .fancy-panel-sub-header {
    border-right-width: 0;
    border-left-width: 0;
    color: #ccc;
    background-color: #363636;
    border-bottom: 1px solid #000;
  }

  .fancy-panel-sub-header-text {
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 0;
  }

  .fancy-menu-item-side-text {
    color: #bbb;
  }

  .fancy-checkbox-middle {
    .fancy-field-checkbox-input {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20width%3D%2214%22%20height%3D%2214%22%20x%3D%220.5%22%20y%3D%220.5%22%20%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23cccccc%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20rx%3D%222%22%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23525252%22%2F%3E%3Cpath%20stroke%3D%22%23525252%22%20zoom%3D%221.5%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L11%207.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      &:hover {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20width%3D%2214%22%20height%3D%2214%22%20x%3D%220.5%22%20y%3D%220.5%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23aaaaaa%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20rx%3D%222%22%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23525252%22%2F%3E%3Cpath%20stroke%3D%22%23525252%22%20zoom%3D%221.5%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L11%207.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
    }
  }

  .fancy-combo-list-sub-search-container {
    border-bottom: 1px solid #5a5a5a;
  }

  .fancy-grid-tree-folder-closed {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23C1C5CC%22%20d%3D%22M464%20128H272l-54.63-54.63c-6-6-14.14-9.37-22.63-9.37H48C21.49%2064%200%2085.49%200%20112v288c0%2026.51%2021.49%2048%2048%2048h416c26.51%200%2048-21.49%2048-48V176c0-26.51-21.49-48-48-48zm0%20272H48V112h140.12l54.63%2054.63c6%206%2014.14%209.37%2022.63%209.37H464v224z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-tree-folder-opened {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%20576%20512%22%3E%3Cpath%20fill%3D%22%23C1C5CC%22%20d%3D%22M527.943%20224H480v-48c0-26.51-21.49-48-48-48H272l-64-64H48C21.49%2064%200%2085.49%200%20112v288c0%2026.51%2021.49%2048%2048%2048h400a48.001%2048.001%200%200%200%2040.704-22.56l79.942-128c19.948-31.917-3.038-73.44-40.703-73.44zM54%20112h134.118l64%2064H426a6%206%200%200%201%206%206v42H152a48%2048%200%200%200-41.098%2023.202L48%20351.449V117.993A5.993%205.993%200%200%201%2054%20112zm394%20288H72l77.234-128H528l-80%20128z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-tree-folder-file {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2218%22%20viewBox%3D%220%200%20384%20512%22%3E%3Cpath%20fill%3D%22%23C1C5CC%22%20d%3D%22M369.9%2097.9L286%2014C277%205%20264.8-.1%20252.1-.1H48C21.5%200%200%2021.5%200%2048v416c0%2026.5%2021.5%2048%2048%2048h288c26.5%200%2048-21.5%2048-48V131.9c0-12.7-5.1-25-14.1-34zM332.1%20128H256V51.9l76.1%2076.1zM48%20464V48h160v104c0%2013.3%2010.7%2024%2024%2024h104v288H48z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-summary-row-bottom {
    .fancy-grid-cell[index="0"] {
      border-top-color: #404040;
    }
  }

  .fancy-grid-left .fancy-grid-summary-row-bottom {
    border-right-color: #5a5a5a;
  }

  .fancy-grid-right .fancy-grid-summary-row-bottom {
    border-left-color: #5a5a5a;
  }
}

.fancy-theme-dark.fancy-combo-result-list {
  .fancy-field-checkbox-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23cccccc%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20rx%3D%222%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23525252%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    &:hover {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23aaaaaa%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20rx%3D%222%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23525252%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    }
  }

  .fancy-combo-item-selected {
    .fancy-field-checkbox-input {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23cccccc%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20rx%3D%222%22%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23525252%22%2F%3E%3Cpath%20stroke%3D%22%23525252%22%20zoom%3D%221.5%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      &:hover {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20rx%3D%222%22%20x%3D%220.5%22%20y%3D%220.5%22%20width%3D%2214%22%20height%3D%2214%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23aaaaaa%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20rx%3D%222%22%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23525252%22%2F%3E%3Cpath%20stroke%3D%22%23525252%22%20zoom%3D%221.5%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
    }
  }
}

.fancy-theme-dark.fancy-combo-result-list li.fancy-combo-item-focused {
  color: white;
}

.fancy-theme-dark.fancy-menu {
  background: #2c2c2c;
  border: 1px solid #5a5a5a;
}

.fancy-theme-dark.fancy-field-search-list {
  background: #2c2c2c;
  border-color: #5a5a5a;

  .fancy-field-input-label {
    color: #ccc;
  }

  .fancy-field {
    &:hover {
      background: #048DC8;
    }
  }
}

.fancy-theme-dark.fancy-combo .fancy-combo-dropdown-button {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%226%22%20viewBox%3D%22944%201152%208%204%22%3E%3Cpath%20fill%3D%22%231f91c2%22%20d%3D%22M945.2%201152.2C944.9%201152%20944.5%201152%20944.3%201152.3%20944.1%201152.6%20944.1%201153%20944.4%201153.2L947.6%201155.8C947.8%201156%20948.2%201156%20948.4%201155.8L951.6%201153.2C951.9%201153%20951.9%201152.6%20951.7%201152.3%20951.5%201152%20951.1%201152%20950.8%201152.2L948%201154.5%20945.2%201152.2Z%22%2F%3E%3C%2Fsvg%3E');
  background-position: 9px 13px;
}

.fancy-theme-dark.fancy-loadmask {
  background-color: rgba(116, 116, 116, 0.5);

  .fancy-loadmask-inner {
    background-color: #747474;
  }

  .fancy-loadmask-text {
    font-weight: bold;
    color: #ccc;
  }

  .fancy-grid-header-cell-trigger-image {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20418%20512%22%3E%3Cpath%20fill%3D%22%231f91c2%22%20d%3D%22M436%20124H12c-6.627%200-12-5.373-12-12V80c0-6.627%205.373-12%2012-12h424c6.627%200%2012%205.373%2012%2012v32c0%206.627-5.373%2012-12%2012zm0%20160H12c-6.627%200-12-5.373-12-12v-32c0-6.627%205.373-12%2012-12h424c6.627%200%2012%205.373%2012%2012v32c0%206.627-5.373%2012-12%2012zm0%20160H12c-6.627%200-12-5.373-12-12v-32c0-6.627%205.373-12%2012-12h424c6.627%200%2012%205.373%2012%2012v32c0%206.627-5.373%2012-12%2012z%22%2F%3E%3C%2Fsvg%3E');
  }
}

.fancy-theme-dark.fancy-grid {
  border: 1px solid #000;
}

.fancy-theme-dark.fancy-panel-grid-inside {
  border-bottom-width: 0;
}

.fancy-theme-dark.fancy-panel {
  .fancy-grid {
    border-top-width: 0;
  }

  .fancy-button {
    margin-left: 5px;
  }

  .fancy-picker-button-back {
    margin-left: 0;
  }

  .fancy-panel-header {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    background: #2c2c2c;
    border-right-color: #000;
    border-top-color: #000;
    border-left-color: #000;
    border-bottom-color: #000;
    text-align: center;
    color: #ccc;
  }

  .fancy-panel-tbar {
    background-color: #363636;
    border-right-width: 0;
    border-left-color: #000;
    border-bottom: 1px solid #000;

    .fancy-toolbar-tab-active {
      background: #048DC8;
    }
  }

  .fancy-panel-bbar {
    background-color: #363636;
    border-left-color: #000;
    border-bottom-color: #000;
    border-right-width: 0;
  }

  .fancy-panel-footer {
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    background: #2c2c2c;
    border-right-width: 0;
    border-top-color: #000;
    border-left-color: #000;
    border-bottom-color: #000;
    color: #ccc;
  }

  .fancy-panel-buttons {
    background-color: #363636;
    border-right-width: 0;
    border-left-color: #000;
    border-bottom: 1px solid #000;
  }

  .fancy-grid-state-resize-column {
    .fancy-grid-header-cell {
      &:hover {
        border-top: 1px solid #5a5a5a;
        background-color: rgba(85, 85, 85, .35);
      }
    }
  }
}

.fancy-theme-dark.fancy-panel .fancy-month-picker .fancy-picker-button-next {
  margin-left: 15px;
}

.fancy-theme-dark.fancy-combo-result-list {
  background: rgb(44, 44, 44);
  border: 1px solid #5a5a5a;
  li {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
}

.fancy-theme-dark .fancy-panel-tbar .fancy-toolbar-tab {
  background: #5A5A5A;
}

.fancy-theme-dark .fancy-panel-tbar .fancy-toolbar-tab-active {
  background: #048DC8;
}

.fancy-theme-dark.fancy-grid-state-resize-column {
  .fancy-grid-header-cell {
    &:hover {
      border-top: 1px solid #5a5a5a;
      background-color: rgba(85, 85, 85, .35);
    }
  }
}


.fancy-theme-dark .fancy-grid-tree-expander {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20stroke%3D%22%23C1C5CC%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.875%22%20d%3D%22M6.5%2010l5.5%204.5%205.5-4.5%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-position-y: -4px;
  background-position-x: -4px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.fancy-theme-dark .fancy-grid-tree-expander-expanded {

  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}