/*
 sand.less
*/

.fancy-theme-sand {
  .fancy-panel-body {
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    border-bottom-width: 0 !important;
    border-right: 1px #C8C1A5 !important;
  }

  .fancy-grid-header-cell {
    background: #DDD5B6;
    font-size: 11px;
    border-color: #AEAA95;
    border-top: 1px solid #ECE4C5;
  }

  .fancy-grid-header-cell-text {
    color: #696558;
  }

  .fancy-grid-header {
    background-color: #DDD5B6;
  }

  .fancy-grid-cell-even {
    background-color: #F9F9F9;
  }

  .fancy-grid {
    border: 1px solid #C8C1A5;
  }

  .fancy-scroll-bottom-inner {
    background: #DAE1E8;
  }

  .fancy-grid-cell {
    border-color: #C8C1A5;
    color: #888;
  }

  .fancy-button {
    background: #ECE4C5;
    border-color: #C8C1A5;
    border-radius: 0;
    transition: all .2s linear;
    .fancy-button-text {
      color: #6A6758;
    }
    &:hover {
      background: #E8DFC0 !important;
      color: #E9E7E2 !important;
    }
  }

  .fancy-button.fancy-button-pressed {
    background: #696558 !important;
    .fancy-button-text {
      color: #E8DFC0 !important;
    }
  }

  .fancy-grid-body {
    .fancy-grid-cell-selected {
      background-color: #6A6758;
      color: #E9E7E2 !important;
    }

    .fancy-grid-cell-over {
      background-color: #6A6758;
      color: #E9E7E2 !important;
    }
  }

  .fancy-panel-bbar {
    background: #DDD5B6;
    //border-bottom-width: 0;
    border-color: #C8C1A5;
    .fancy-button {
      background: #ECE4C5;
      border-color: #C8C1A5;
      border-radius: 0;
      transition: all .2s linear;
      .fancy-button-text {
        color: #6A6758;
      }
      &:hover {
        background: #E8DFC0 !important;
        color: #E9E7E2 !important;
      }
    }
  }

  .fancy-panel-tbar {
    background: #DDD5B6;
    border-color: #C8C1A5;
    border-bottom: 1px solid #c8c1a5;
    .fancy-button {
      background: #ECE4C5;
      border-color: #C8C1A5;
      border-radius: 0;
      transition: all .2s linear;
    }

    .fancy-toolbar-tab {
      background: #ECE4C5;
      margin-top: 8px;
    }

    .fancy-toolbar-tab-active {
      background: #6A6758;
      &:hover {
        background: #6A6758 !important;
      }
    }
  }

  .fancy-panel-buttons {
    background: #DDD5B6;
    border-color: #C8C1A5;
    .fancy-button {
      background: #ECE4C5;
      border-color: #C8C1A5;
      border-radius: 0;
      transition: all .2s linear;
    }
  }

  .fancy-button-text {
    color: #696558;
  }

  .fancy-grid-cell-even {
    background: #DDD5B6;
  }

  .fancy-scroll-bottom-inner {
    background: #AEAA95;
  }

  .fancy-scroll-right-inner {
    background: #AEAA95;
  }

  .fancy-scroll-bottom {
    background: #F7F1D8;
    background: rgba(247, 241, 216, 0.8);
  }

  .fancy-scroll-right {
    //background: #F7F1D8;
    background: rgba(247, 241, 216, 0.8);
  }

  .fancy-grid-group-row {
    background: #E8DFC0;
    border-color: #C8C1A5;
    border-right: 1px solid #C8C1A5;
    color: #6A6758;
  }

  .fancy-grid-group-row-inner {
    background-image: url(images/sand/options-slide.png);
  }

  .fancy-field-checkbox-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20width%3D%2215%22%20height%3D%2215%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23C8C1A5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    &:hover {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20width%3D%2215%22%20height%3D%2215%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23E8DFC0%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23C8C1A5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    }
  }

  .fancy-checkbox-on {
    .fancy-field-checkbox-input {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20width%3D%2215%22%20height%3D%2215%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23C8C1A5%22%2F%3E%3Cpath%20stroke%3D%22%23696458%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      &:hover {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20width%3D%2215%22%20height%3D%2215%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23E8DFC0%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23C8C1A5%22%2F%3E%3Cpath%20stroke%3D%22%23696458%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
    }
  }

  .fancy-paging-next {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%23696558%22%20d%3D%22M224.3%20273l-136%20136c-9.4%209.4-24.6%209.4-33.9%200l-22.6-22.6c-9.4-9.4-9.4-24.6%200-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6%200-33.9L54.3%20103c9.4-9.4%2024.6-9.4%2033.9%200l136%20136c9.5%209.4%209.5%2024.6.1%2034z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-paging-prev {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%23696558%22%20d%3D%22M31.7%20239l136-136c9.4-9.4%2024.6-9.4%2033.9%200l22.6%2022.6c9.4%209.4%209.4%2024.6%200%2033.9L127.9%20256l96.4%2096.4c9.4%209.4%209.4%2024.6%200%2033.9L201.7%20409c-9.4%209.4-24.6%209.4-33.9%200l-136-136c-9.5-9.4-9.5-24.6-.1-34z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-paging-first {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22%23696558%22%20d%3D%22M223.7%20239l136-136c9.4-9.4%2024.6-9.4%2033.9%200l22.6%2022.6c9.4%209.4%209.4%2024.6%200%2033.9L319.9%20256l96.4%2096.4c9.4%209.4%209.4%2024.6%200%2033.9L393.7%20409c-9.4%209.4-24.6%209.4-33.9%200l-136-136c-9.5-9.4-9.5-24.6-.1-34zm-192%2034l136%20136c9.4%209.4%2024.6%209.4%2033.9%200l22.6-22.6c9.4-9.4%209.4-24.6%200-33.9L127.9%20256l96.4-96.4c9.4-9.4%209.4-24.6%200-33.9L201.7%20103c-9.4-9.4-24.6-9.4-33.9%200l-136%20136c-9.5%209.4-9.5%2024.6-.1%2034z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-paging-last {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22%23696558%22%20d%3D%22M224.3%20273l-136%20136c-9.4%209.4-24.6%209.4-33.9%200l-22.6-22.6c-9.4-9.4-9.4-24.6%200-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6%200-33.9L54.3%20103c9.4-9.4%2024.6-9.4%2033.9%200l136%20136c9.5%209.4%209.5%2024.6.1%2034zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9%200l-22.6%2022.6c-9.4%209.4-9.4%2024.6%200%2033.9l96.4%2096.4-96.4%2096.4c-9.4%209.4-9.4%2024.6%200%2033.9l22.6%2022.6c9.4%209.4%2024.6%209.4%2033.9%200l136-136c9.4-9.2%209.4-24.4%200-33.8z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-paging-refresh {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%23696558%22%20d%3D%22M256.455%208c66.269.119%20126.437%2026.233%20170.859%2068.685l35.715-35.715C478.149%2025.851%20504%2036.559%20504%2057.941V192c0%2013.255-10.745%2024-24%2024H345.941c-21.382%200-32.09-25.851-16.971-40.971l41.75-41.75c-30.864-28.899-70.801-44.907-113.23-45.273-92.398-.798-170.283%2073.977-169.484%20169.442C88.764%20348.009%20162.184%20424%20256%20424c41.127%200%2079.997-14.678%20110.629-41.556%204.743-4.161%2011.906-3.908%2016.368.553l39.662%2039.662c4.872%204.872%204.631%2012.815-.482%2017.433C378.202%20479.813%20319.926%20504%20256%20504%20119.034%20504%208.001%20392.967%208%20256.002%207.999%20119.193%20119.646%207.755%20256.455%208z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-separator {
    border-right: 1px solid #E8DFC0;
    div {
      border-right: 1px solid #C8C1A5;
    }
  }

  .fancy-field-text-input {
    border-color: #C8C1A5;
    &:focus {
      border-color: #696558;
    }
  }

  .fancy-grid-header {
    border-color: #C8C1A5;
  }

  .fancy-grid-left {
    border-color: #C8C1A5;
  }

  .fancy-grid-right {
    border-color: #C8C1A5;
  }

  .fancy-grid {
    background: #DDD5B6;
    border-top-width: 0;
  }

  li:hover {
    background: #6A6758;
    .opacity(0.8);
    color: white;
  }

  li.fancy-combo-item-selected {
    background: #6A6758;
    color: white;
  }

  li.fancy-combo-item-focused {
    background: #6A6758;
    color: white;
  }

  .fancy-grid-header-cell-container {
    border-left-color: transparent;
  }

  .fancy-grid-resizer-left {
    border-right: 2px dashed rgba(105, 101, 88, 0.5);
  }

  .fancy-grid-resizer-right {
    border-right: 2px dashed rgba(105, 101, 88, 0.5);
  }

  .fancy-panel-footer {
    background-color: #6A6758;
    border-color: #C8C1A5;
    border-bottom: 0;
    .fancy-footer-status {
      color: #E5E3DD;
    }
    .fancy-footer-source {
      color: #E5E3DD;
    }
  }

  .fancy-status-source-text {
    color: #E5E3DD;
  }

  .fancy-status-source-link {
    color: #E5E3DD;
  }

  .fancy-field-label {
    color: #696558;
  }

  .fancy-field-picker-button {
    background-image: url(images/sand/calendar.png);
  }

  .fancy-picker-button-next .fancy-button-image {
    background-image: url(images/sand/next.png);
  }

  .fancy-picker-button-back .fancy-button-image {
    background-image: url(images/sand/back.png);
  }

  .fancy-picker-button-date .fancy-button-text {
    background-image: url(images/sand/bottom.png);
  }

  .fancy-form {
    background: #DDD5B6;
    border-color: #C8C1A5;
  }

  .fancy-field-text-input {
    color: #888;
  }

  .fancy-textarea-text-input {
    border-color: #C8C1A5;
  }

  .fancy-textarea-text-input:focus {
    border-color: #696558;
  }

  .fancy-grid-header-cell-group-level-2 {
    border-bottom: 1px solid #AEAA95;
  }

  .fancy-date-picker-cell-active {
    background-color: #6A6758;
    color: #E9E7E2!important;
  }

  .fancy-month-picker-cell-active {
    background-color: #6A6758;
    color: #E9E7E2!important;
  }

  .fancy-date-picker.fancy-grid {
    border-bottom: 1px solid #ECE4C5;
  }

  .fancy-month-picker .fancy-grid {
    border-bottom: 1px solid #ECE4C5;
  }

  .fancy-field-switcher {
    .fancy-field-text {
      background-color: #FFFFFF;
      &:after {
        border-color: #C8C1A5;
      }
    }
  }

  .fancy-switcher-on.fancy-field-switcher {
    .fancy-field-text {
      background-color: #E8DFC0;
      &:after {
        background-color: #696558;
        border-color: #696558;
      }
    }
  }

  .fancy-field-radio-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Ccircle%20id%3D%22a%22%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%226.5%22%20stroke%3D%22%23C8C1A5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .fancy-field-text:hover .fancy-field-radio-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Ccircle%20id%3D%22a%22%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23E8DFC0%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%226.5%22%20stroke%3D%22%23C8C1A5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-position: 0 0;
  }

  .fancy-field-radio-on .fancy-field-radio-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Ccircle%20id%3D%22a%22%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%226.5%22%20stroke%3D%22%23696458%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%223%22%20fill%3D%22%23696458%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .fancy-field-text.fancy-field-radio-on:hover .fancy-field-radio-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Ccircle%20id%3D%22a%22%20cx%3D%227%22%20cy%3D%227%22%20r%3D%227%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23E8DFC0%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%226.5%22%20stroke%3D%22%23696458%22%2F%3E%3Ccircle%20cx%3D%227%22%20cy%3D%227%22%20r%3D%223%22%20fill%3D%22%23696458%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .fancy-field-radio-input {
    .fancy-field-text {
      color: #6A6758;
    }
  }

  .fancy-field-radio {
    .fancy-field-text {
      color: #696558;
    }
  }

  .fancy-field-spin {
    .fancy-field-spin-up {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2230%22%20height%3D%2230%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%23696458%22%20d%3D%22M136.5%20185.1l116%20117.8c4.7%204.7%204.7%2012.3%200%2017l-7.1%207.1c-4.7%204.7-12.3%204.7-17%200L128%20224.7%2027.6%20326.9c-4.7%204.7-12.3%204.7-17%200l-7.1-7.1c-4.7-4.7-4.7-12.3%200-17l116-117.8c4.7-4.6%2012.3-4.6%2017%20.1z%22%2F%3E%3C%2Fsvg%3E');
    }

    .fancy-field-spin-down {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2230%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%23696458%22%20d%3D%22M119.5%20326.9L3.5%20209.1c-4.7-4.7-4.7-12.3%200-17l7.1-7.1c4.7-4.7%2012.3-4.7%2017%200L128%20287.3l100.4-102.2c4.7-4.7%2012.3-4.7%2017%200l7.1%207.1c4.7%204.7%204.7%2012.3%200%2017L136.5%20327c-4.7%204.6-12.3%204.6-17-.1z%22%2F%3E%3C%2Fsvg%3E');
    }
  }

  .fancy-combo-input-container {
    border-color: #C8C1A5;
  }

  .fancy-panel-resize-corner {
    border-bottom-color: #6A6758;
    right: 0;
    &:before {
      bottom: -13px;
    }
  }

  .fancy-field-search {
    input.fancy-field-text-input {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%221284%20207%2024%2024%22%3E%3Cpath%20fill%3D%22%23696558%22%20d%3D%22M1298.5%20222.9C1297.5%20223.6%201296.3%20224%201295%20224%201291.7%20224%201289%20221.3%201289%20218%201289%20214.7%201291.7%20212%201295%20212%201298.3%20212%201301%20214.7%201301%20218%201301%20219.3%201300.6%20220.5%201299.9%20221.5L1302.7%20224.2C1303%20224.6%201303.1%20225.3%201302.7%20225.7%201302.3%20226%201301.6%20226%201301.2%20225.7L1298.5%20222.9ZM1295%20222C1297.2%20222%201299%20220.2%201299%20218%201299%20215.8%201297.2%20214%201295%20214%201292.8%20214%201291%20215.8%201291%20218%201291%20220.2%201292.8%20222%201295%20222Z%22%2F%3E%3C%2Fsvg%3E');
    }
  }

  .fancy-grid-column-sort-ASC .fancy-grid-header-cell-text {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%23696458%22%20d%3D%22M288.662%20352H31.338c-17.818%200-26.741-21.543-14.142-34.142l128.662-128.662c7.81-7.81%2020.474-7.81%2028.284%200l128.662%20128.662c12.6%2012.599%203.676%2034.142-14.142%2034.142z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-column-sort-DESC .fancy-grid-header-cell-text {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%23696458%22%20d%3D%22M31.3%20192h257.3c17.8%200%2026.7%2021.5%2014.1%2034.1L174.1%20354.8c-7.8%207.8-20.5%207.8-28.3%200L17.2%20226.1C4.6%20213.5%2013.5%20192%2031.3%20192z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-column-order .fancy-grid-cell {
    background-color: #DDD5B6;
    .fancy-grid-cell-inner{
      color: #888;
    }
  }

  .fancy-grid-column-order .fancy-grid-cell.fancy-grid-cell-selected {
    background-color: #DDD5B6;
    .fancy-grid-cell-inner{
      color: #888;
    }
  }

  .fancy-grid-row-edit {
    background: #DDD5B6;
    border-color: #C8C1A5;
    .fancy-field-text-value {
      color: #888;
    }
  }

  .fancy-grid-row-edit-buttons {
    background: #DDD5B6;
    border-color: #C8C1A5;
  }

  .fancy-checkbox-expander .fancy-field-checkbox-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%23696458%22%20d%3D%22M24.707%2038.101L4.908%2057.899c-4.686%204.686-4.686%2012.284%200%2016.971L185.607%20256%204.908%20437.13c-4.686%204.686-4.686%2012.284%200%2016.971L24.707%20473.9c4.686%204.686%2012.284%204.686%2016.971%200l209.414-209.414c4.686-4.686%204.686-12.284%200-16.971L41.678%2038.101c-4.687-4.687-12.285-4.687-16.971%200z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-cell-selected .fancy-checkbox-expander .fancy-field-checkbox-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%23E9E7E2%22%20d%3D%22M24.707%2038.101L4.908%2057.899c-4.686%204.686-4.686%2012.284%200%2016.971L185.607%20256%204.908%20437.13c-4.686%204.686-4.686%2012.284%200%2016.971L24.707%20473.9c4.686%204.686%2012.284%204.686%2016.971%200l209.414-209.414c4.686-4.686%204.686-12.284%200-16.971L41.678%2038.101c-4.687-4.687-12.285-4.687-16.971%200z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-cell-over .fancy-checkbox-expander .fancy-field-checkbox-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%23E9E7E2%22%20d%3D%22M24.707%2038.101L4.908%2057.899c-4.686%204.686-4.686%2012.284%200%2016.971L185.607%20256%204.908%20437.13c-4.686%204.686-4.686%2012.284%200%2016.971L24.707%20473.9c4.686%204.686%2012.284%204.686%2016.971%200l209.414-209.414c4.686-4.686%204.686-12.284%200-16.971L41.678%2038.101c-4.687-4.687-12.285-4.687-16.971%200z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-checkbox-expander.fancy-checkbox-on .fancy-field-checkbox-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22%23696458%22%20d%3D%22M441.9%20167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17%200L224%20328.2%2042.9%20147.5c-4.7-4.7-12.3-4.7-17%200L6.1%20167.3c-4.7%204.7-4.7%2012.3%200%2017l209.4%20209.4c4.7%204.7%2012.3%204.7%2017%200l209.4-209.4c4.7-4.7%204.7-12.3%200-17z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-cell-selected .fancy-checkbox-expander.fancy-checkbox-on .fancy-field-checkbox-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22%23E9E7E2%22%20d%3D%22M441.9%20167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17%200L224%20328.2%2042.9%20147.5c-4.7-4.7-12.3-4.7-17%200L6.1%20167.3c-4.7%204.7-4.7%2012.3%200%2017l209.4%20209.4c4.7%204.7%2012.3%204.7%2017%200l209.4-209.4c4.7-4.7%204.7-12.3%200-17z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-cell-over .fancy-checkbox-expander.fancy-checkbox-on .fancy-field-checkbox-input {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22%23E9E7E2%22%20d%3D%22M441.9%20167.3l-19.8-19.8c-4.7-4.7-12.3-4.7-17%200L224%20328.2%2042.9%20147.5c-4.7-4.7-12.3-4.7-17%200L6.1%20167.3c-4.7%204.7-4.7%2012.3%200%2017l209.4%20209.4c4.7%204.7%2012.3%204.7%2017%200l209.4-209.4c4.7-4.7%204.7-12.3%200-17z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-expand-row {
    border-bottom-color: #C8C1A5;
  }

  .fancy-grid-expand-row.fancy-grid-expand-row-over {
    background-color: #6A6758;
    color: #E9E7E2 !important;
  }

  .fancy-grid-expand-row.fancy-grid-expand-row-selected {
    background-color: #6A6758;
    color: #E9E7E2 !important;
  }

  .fancy-grid-header-cell-trigger {
    background: #DDD5B6;
    border-color: #AEAA95;
  }

  .fancy-menu-item-active {
    background: #6A6758;
  }

  .fancy-grid-header-cell-trigger-image {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%20418%20512%22%3E%3Cpath%20fill%3D%22%23696458%22%20d%3D%22M436%20124H12c-6.627%200-12-5.373-12-12V80c0-6.627%205.373-12%2012-12h424c6.627%200%2012%205.373%2012%2012v32c0%206.627-5.373%2012-12%2012zm0%20160H12c-6.627%200-12-5.373-12-12v-32c0-6.627%205.373-12%2012-12h424c6.627%200%2012%205.373%2012%2012v32c0%206.627-5.373%2012-12%2012zm0%20160H12c-6.627%200-12-5.373-12-12v-32c0-6.627%205.373-12%2012-12h424c6.627%200%2012%205.373%2012%2012v32c0%206.627-5.373%2012-12%2012z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-header .fancy-grid-header-cell:first-child .fancy-grid-header-cell-container {
    border-left-width: 0;
  }

  .fancy-bar-left-scroller {
    background-color: transparent;
  }

  .fancy-bar-right-scroller {
    background-color: transparent;
  }

  .fancy-bar-right-scroller .fancy-button-image {
    background-image: url(images/sand/bar-nav.png);
  }

  .fancy-bar-left-scroller .fancy-button-image {
    background-image: url(images/sand/bar-nav.png);
  }

  .fancy-panel-sub-tbar {
    background: #DDD5B6;
    border-color: #C8C1A5;
    border-top-width: 0;
    border-bottom: 1px solid #C8C1A5;
  }

  .fancy-grid-state-resize-column {
    .fancy-grid-header-cell {
      &:hover {
        background-color: #DDD5B6;
      }
    }
  }

  .fancy-grid-cell {
    -webkit-transition: background .0s ease-out;
    -moz-transition: background .0s ease-out;
    -ms-transition: background .0s ease-out;
    -o-transition: background .0s ease-out;
    transition: background .0s ease-out;
  }

  .fancy-date-picker-cell-out-range {
    .fancy-grid-cell-inner {
      color: #d0d0d0;
    }
  }

  .fancy-date-picker-cell-out-min-max {
    background: #DDD5B6;
    .fancy-grid-cell-inner {
      color: #d0d0d0;
    }
  }

  .fancy-button-menu .fancy-button-drop {
    background-image: url(images/sand/bottom.png);
  }

  li {
    color: #888;
  }

  .fancy-menu-item-expand {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%23696458%22%20d%3D%22M24.707%2038.101L4.908%2057.899c-4.686%204.686-4.686%2012.284%200%2016.971L185.607%20256%204.908%20437.13c-4.686%204.686-4.686%2012.284%200%2016.971L24.707%20473.9c4.686%204.686%2012.284%204.686%2016.971%200l209.414-209.414c4.686-4.686%204.686-12.284%200-16.971L41.678%2038.101c-4.687-4.687-12.285-4.687-16.971%200z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-menu-item-active .fancy-menu-item-expand {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M24.707%2038.101L4.908%2057.899c-4.686%204.686-4.686%2012.284%200%2016.971L185.607%20256%204.908%20437.13c-4.686%204.686-4.686%2012.284%200%2016.971L24.707%20473.9c4.686%204.686%2012.284%204.686%2016.971%200l209.414-209.414c4.686-4.686%204.686-12.284%200-16.971L41.678%2038.101c-4.687-4.687-12.285-4.687-16.971%200z%22%2F%3E%3C%2Fsvg%3E');
  }

  .fancy-grid-header-cell-trigger-up {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2230%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%23696458%22%20d%3D%22M136.5%20185.1l116%20117.8c4.7%204.7%204.7%2012.3%200%2017l-7.1%207.1c-4.7%204.7-12.3%204.7-17%200L128%20224.7%2027.6%20326.9c-4.7%204.7-12.3%204.7-17%200l-7.1-7.1c-4.7-4.7-4.7-12.3%200-17l116-117.8c4.7-4.6%2012.3-4.6%2017%20.1z%22%2F%3E%3C%2Fsvg%3E');
    background-position: 0 0;
  }

  .fancy-menu-item-active .fancy-grid-header-cell-trigger-up {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2230%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M136.5%20185.1l116%20117.8c4.7%204.7%204.7%2012.3%200%2017l-7.1%207.1c-4.7%204.7-12.3%204.7-17%200L128%20224.7%2027.6%20326.9c-4.7%204.7-12.3%204.7-17%200l-7.1-7.1c-4.7-4.7-4.7-12.3%200-17l116-117.8c4.7-4.6%2012.3-4.6%2017%20.1z%22%2F%3E%3C%2Fsvg%3E');
    background-position: 0 0;
  }

  .fancy-grid-header-cell-trigger-down {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2230%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%23696458%22%20d%3D%22M119.5%20326.9L3.5%20209.1c-4.7-4.7-4.7-12.3%200-17l7.1-7.1c4.7-4.7%2012.3-4.7%2017%200L128%20287.3l100.4-102.2c4.7-4.7%2012.3-4.7%2017%200l7.1%207.1c4.7%204.7%204.7%2012.3%200%2017L136.5%20327c-4.7%204.6-12.3%204.6-17-.1z%22%2F%3E%3C%2Fsvg%3E');
    background-position: 0 0;
  }

  .fancy-menu-item-active .fancy-grid-header-cell-trigger-down {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2226%22%20height%3D%2230%22%20viewBox%3D%220%200%20256%20512%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M119.5%20326.9L3.5%20209.1c-4.7-4.7-4.7-12.3%200-17l7.1-7.1c4.7-4.7%2012.3-4.7%2017%200L128%20287.3l100.4-102.2c4.7-4.7%2012.3-4.7%2017%200l7.1%207.1c4.7%204.7%204.7%2012.3%200%2017L136.5%20327c-4.7%204.6-12.3%204.6-17-.1z%22%2F%3E%3C%2Fsvg%3E');
    background-position: 0 0;
  }

  .fancy-combo-item-selected {
    .fancy-field-checkbox-input {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20width%3D%2215%22%20height%3D%2215%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23C8C1A5%22%2F%3E%3Cpath%20stroke%3D%22%23696458%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      &:hover {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20width%3D%2215%22%20height%3D%2215%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23E8DFC0%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23C8C1A5%22%2F%3E%3Cpath%20stroke%3D%22%23696458%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L6.5%2010%2011%204.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
    }
  }

  .fancy-grid-cell-flash {
    background-color: #6A6758 !important;
    color: #E9E7E2!important;
  }

  .fancy-field-pass-tip {
    background: #DDD5B6;
    color: #696558;
  }

  .fancy-field-spin-up:hover {
    background-color: rgba(232,223,192,.07);
  }

  .fancy-field-spin-down:hover {
    background-color: rgba(232,223,192,.07);
  }

  .fancy-panel-sub-header {
    border-right-width: 0;
    border-left-width: 0;
    background: #DDD5B6;
    color: #696558;
    border-bottom: 1px solid #C8C1A5;
  }

  .fancy-checkbox-middle {
    .fancy-field-checkbox-input {
      background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20width%3D%2215%22%20height%3D%2215%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23FFF%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23C8C1A5%22%2F%3E%3Cpath%20stroke%3D%22%23696458%22%20zoom%3D%221.5%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L11%207.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      &:hover {
        background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%220%200%2015%2015%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3Crect%20id%3D%22a%22%20width%3D%2215%22%20height%3D%2215%22%2F%3E%3C%2Fdefs%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cuse%20fill%3D%22%23E8DFC0%22%20xlink%3Ahref%3D%22%23a%22%2F%3E%3Crect%20width%3D%2214%22%20height%3D%2214%22%20x%3D%22.5%22%20y%3D%22.5%22%20stroke%3D%22%23C8C1A5%22%2F%3E%3Cpath%20stroke%3D%22%23696458%22%20zoom%3D%221.5%22%20stroke-width%3D%221.7%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20d%3D%22M4%207.5L11%207.5%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
      }
    }
  }
}

.fancy-theme-sand.fancy-combo .fancy-combo-dropdown-button {
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%226%22%20viewBox%3D%22944%201152%208%204%22%3E%3Cpath%20fill%3D%22%23696458%22%20d%3D%22M945.2%201152.2C944.9%201152%20944.5%201152%20944.3%201152.3%20944.1%201152.6%20944.1%201153%20944.4%201153.2L947.6%201155.8C947.8%201156%20948.2%201156%20948.4%201155.8L951.6%201153.2C951.9%201153%20951.9%201152.6%20951.7%201152.3%20951.5%201152%20951.1%201152%20950.8%201152.2L948%201154.5%20945.2%201152.2Z%22%2F%3E%3C%2Fsvg%3E');
  background-position: 9px 13px;
}

.fancy-theme-sand.fancy-loadmask {
  .fancy-loadmask-inner {
    background-color: #DDD5B6;
  }

  .fancy-loadmask-text {
    font-weight: bold;
    color: #696558;
  }
}

.fancy-theme-sand.fancy-menu {
  border-color: #C8C1A5;
}

.fancy-theme-sand.fancy-field-search-list {
  background: #fff;
  border-color: #C8C1A5;

  .fancy-field {
    &:hover {
      background: #6A6758;
      opacity: .8;
      .fancy-field-input-label {
        color: #fff;
      }
    }
  }
}

.fancy-theme-sand.fancy-drag-hint-top {
  background-image: url(images/sand/col-drag-top.png);
}

.fancy-theme-sand.fancy-drag-hint-bottom {
  background-image: url(images/sand/col-drag-bottom.png);
}

.fancy-theme-sand.fancy-panel .fancy-month-picker .fancy-picker-button-next {
  margin-left: 15px;
}

.fancy-theme-sand.fancy-grid {
  border: 1px solid #C8C1A5;
}

.fancy-theme-sand.fancy-panel-grid-inside {
  border-bottom-width: 0;
}

.fancy-theme-sand.fancy-combo-result-list {
  border-color: #C8C1A5;
}

.fancy-theme-sand.fancy-panel-shadow {
  .box-shadow(none);
}

.fancy-theme-sand.fancy-panel {
  .fancy-panel-header {
    background-color: #6A6758;
    text-align: center;
    color: #E5E3DD;
    font-size: 18px;
  }
  .fancy-grid {
    border-top-width: 0;
  }
}

.fancy-theme-sand.fancy-tooltip {
  background-color: #6A6758 !important;
}

.fancy-theme-sand.fancy-grid-state-resize-column {
  .fancy-grid-header-cell {
    &:hover {
      background-color: #DDD5B6;
    }
  }
}

.fancy-theme-sand .fancy-grid-tree-expander {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20stroke%3D%22%23696558%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.875%22%20d%3D%22M6.5%2010l5.5%204.5%205.5-4.5%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-position-y: -4px;
  background-position-x: -4px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.fancy-theme-sand .fancy-grid-cell-over .fancy-grid-tree-expander {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20stroke%3D%22%23C1C5CC%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.875%22%20d%3D%22M6.5%2010l5.5%204.5%205.5-4.5%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}

.fancy-theme-sand .fancy-grid-cell-selected .fancy-grid-tree-expander {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20stroke%3D%22%23C1C5CC%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.875%22%20d%3D%22M6.5%2010l5.5%204.5%205.5-4.5%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
}

.fancy-theme-sand .fancy-grid-tree-expander-expanded {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}