/*
 column-checkbox.less
*/

.fancy-grid-header-cell-checkbox {
  .fancy-grid-header-cell-container {
    text-align: center;
  }

  .fancy-field-checkbox {
    margin-top: -7px;
  }

  .fancy-field-input-label {
    display: none;
  }

  .fancy-field-checkbox-input {
    margin-right: 4px;
  }

}