/*
 column-drag.less
*/

.fancy-drag-cell {
  transition: none !important;
}

.fancy-drag-hint-top {
  background: url(images/default/col-drag-top.png) no-repeat center top transparent;
  width: 9px;
  height: 11px;
  position: absolute;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  z-index: 4;
}

.fancy-drag-hint-bottom {
  background: url(images/default/col-drag-bottom.png) no-repeat center top transparent;
  width: 9px;
  height: 11px;
  position: absolute;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  z-index: 4;
}