/*
 column-resizer.less
*/

.fancy-grid-column-resizer {
  cursor: col-resize;
}

.fancy-grid-resizer-left {
  height: 100%;
  position: absolute;
  top: 0;
  border-right: 2px dashed rgba(81,103,122,0.5);
  background-color: transparent !important;
  display: none;
  z-index: 1;
}

.fancy-grid-resizer-right {
  height: 100%;
  position: absolute;
  top: 0;
  border-right: 2px dashed rgba(81,103,122,0.5);
  background-color: transparent !important;
  display: none;
  z-index: 1;
}