/*
 edit-row.less
*/

.fancy-grid-row-edit {
  position: absolute;
  top: 0;
  background-color: #F7F7F7;
  border: 1px solid #d3dbe1;
  border-left-width: 0;
  z-index: 1;
  width: 101%;
  .fancy-field-text {
    margin-left: 2px;
    margin-top: 2px;
  }

  .fancy-field-field-text {
    white-space: nowrap;
    overflow: hidden;
  }

  .fancy-field-text-value {
    margin-top: 9px;
    margin-right: 9px;
    margin-left: 9px;
    color: #1E8FC6;
  }
}

.fancy-grid-row-edit-buttons {
  position: absolute;
  top: 0;
  background-color: #F7F7F7;
  border: 1px solid #d3dbe1;
  z-index: 1;
  padding: 1px 5px 5px 5px;
  .border-radius(0px, 0px, 3px, 3px);
}

.fancy-edit-row-button-cancel {
  margin-left: 5px;
}