/*
 expand-row.less
*/

.fancy-grid-expand-row {
  position: absolute;
  left: 0;
  z-index: 1;
  padding: 5px 10px 5px 10px;
  font-weight: 400;
  color: #1E8FC6;
  border-bottom: 1px solid #d3dbe1;
  p {
    margin: 0.5em 0;
  }
}

.fancy-grid-expand-row.fancy-grid-expand-row-over {
  background: #E0E5E9;
}

.fancy-grid-expand-row.fancy-grid-expand-row-selected {
  background: #E0E5E9;
}