/*
 filter.less
*/

.fancy-grid-header-cell-double .fancy-grid-header-cell-container {
  padding-top: 24px;
  padding-bottom: 24px;
  //height: 60px;
}

.fancy-grid-header-filter-cell .fancy-grid-header-cell-container {
  height: 60px;
}