/*
 group-row.less
*/

.fancy-grid-group-row {
  height: 31px;
  background: #E1E7ED;
  color: #1e8fc6;
  font-size: 12px;
  font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
  border-bottom: 1px solid #d3dbe1;
  position: absolute;
  left: 0;
  z-index: 1;
  cursor: pointer;
}

.fancy-grid-group-row-inner {
  padding-left: 36px;
  padding-top: 7px;
  padding-bottom: 7px;
  background-repeat: no-repeat;
  background-image: url(images/default/options-slide.png);
  background-position: 8px -95px;
}

.fancy-grid-group-row-collapsed .fancy-grid-group-row-inner {
  background-position: 8px 5px;
}