/*
 selection.less
*/

.fancy-grid-column .fancy-grid-cell-over {
  background: #E0E5E9;
}

.fancy-grid-body .fancy-grid-column .fancy-grid-cell-selected {
  background: #E0E5E9;
}

.fancy-grid-column-over .fancy-grid-cell {
  background: #E0E5E9;
}

.fancy-grid-body .fancy-grid-column-selected .fancy-grid-cell {
  background: #E0E5E9;
}

.fancy-grid-unselectable .fancy-grid-cell-inner {
  cursor: default;
}

.fancy-grid-cell {
  -webkit-transition: background .2s ease-out;
  -moz-transition: background .2s ease-out;
  -ms-transition: background .2s ease-out;
  -o-transition: background .2s ease-out;
  transition: background .2s ease-out;
}

.fancy-grid-cell-inner-select {
  display: inline-block;
}

.fancy-grid-cell-inner-text {
  display: inline-block;
  position: relative;
  top: -3px;
}

.fancy-grid-cell-inner-select .fancy-field-checkbox {
  height: 15px !important;
}

.fancy-grid-header-cell-select .fancy-field-checkbox {
  height: 18px !important;
}