/*
 sparkline.less
*/

.fancy-grid-column-sparkline canvas {
  position: relative;
  top: -8px;
}

.fancy-grid-column-sparkline svg {
  position: relative;
  top: -8px;
}

.fancy-grid-column-sparkline vml {
  position: relative;
  top: -8px;
}

.fancy-grid-column-sparkline-bullet canvas {
  top: -3px;
}

.fancy-grid-column-sparkline-bullet svg {
  top: -3px;
}

.fancy-grid-column-sparkline-bullet vml {
  top: -3px;
}

.jqstooltip {
  background-color: #747474 !important;
  border-color: #747474 !important;
  border-radius: 2px !important;
  padding: 1px 1px 1px 1px !important;
  border-width: 1px !important;
  border-style: solid !important;
  padding: 6px 8px !important;
  box-sizing: content-box;
  .jqsfield {
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif !important;
    color: #f0f0f0 !important;
    font-size: 13px !important;
    font-weight: 300 !important;
    .span {
      color: #f0f0f0 !important;
    }
  }
}

