.fancy-grid-tree-expander {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
}

.fancy-grid-tree-expander-leaf {
  width: 15px;
  height: 15px;
  display: inline-block;
}

.fancy-grid-tree-expander-expanded {
  background-position-y: -1px;
}

.fancy-grid-tree-expander-text {
  /*display: inline-block;*/
  margin-left: 5px;
  position: relative;
  top: -3px;
}

.fancy-grid-tree-expander-node {
  display: inline-block;
  height: 15px;
  width: 25px;
}

.fancy-grid-tree-expander {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%3E%0A%20%20%20%20%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%200h24v24H0z%22%2F%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20stroke%3D%22%231e8fc6%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.875%22%20d%3D%22M6.5%2010l5.5%204.5%205.5-4.5%22%2F%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  background-position-y: -4px;
  background-position-x: -4px;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.fancy-grid-tree-expander-expanded {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.fancy-grid-tree-folder-closed {
  width: 20px;
  height: 18px;
  display: inline-block;
  margin-left: 3px;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22%235fa2dd%22%20d%3D%22M464%20128H272l-54.63-54.63c-6-6-14.14-9.37-22.63-9.37H48C21.49%2064%200%2085.49%200%20112v288c0%2026.51%2021.49%2048%2048%2048h416c26.51%200%2048-21.49%2048-48V176c0-26.51-21.49-48-48-48zm0%20272H48V112h140.12l54.63%2054.63c6%206%2014.14%209.37%2022.63%209.37H464v224z%22%20class%3D%22%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  position: relative;
  top: -2px;
}

.fancy-grid-tree-folder-opened {
  width: 20px;
  height: 18px;
  display: inline-block;
  margin-left: 5px;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2218%22%20viewBox%3D%220%200%20576%20512%22%3E%3Cpath%20fill%3D%22%235fa2dd%22%20d%3D%22M527.943%20224H480v-48c0-26.51-21.49-48-48-48H272l-64-64H48C21.49%2064%200%2085.49%200%20112v288c0%2026.51%2021.49%2048%2048%2048h400a48.001%2048.001%200%200%200%2040.704-22.56l79.942-128c19.948-31.917-3.038-73.44-40.703-73.44zM54%20112h134.118l64%2064H426a6%206%200%200%201%206%206v42H152a48%2048%200%200%200-41.098%2023.202L48%20351.449V117.993A5.993%205.993%200%200%201%2054%20112zm394%20288H72l77.234-128H528l-80%20128z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  position: relative;
  top: -2px;
}

.fancy-grid-tree-folder-file {
  width: 14px;
  /*height: 18px;*/
  height: 19px;
  display: inline-block;
  background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2214%22%20height%3D%2218%22%20viewBox%3D%220%200%20384%20512%22%3E%3Cpath%20fill%3D%22%235fa2dd%22%20d%3D%22M369.9%2097.9L286%2014C277%205%20264.8-.1%20252.1-.1H48C21.5%200%200%2021.5%200%2048v416c0%2026.5%2021.5%2048%2048%2048h288c26.5%200%2048-21.5%2048-48V131.9c0-12.7-5.1-25-14.1-34zM332.1%20128H256V51.9l76.1%2076.1zM48%20464V48h160v104c0%2013.3%2010.7%2024%2024%2024h104v288H48z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  position: relative;
  /*top: -3px;*/
  top: 0 !important;
  margin-left: 5px;
}

.fancy-grid-tree-column-folder {
  .fancy-grid-tree-expander {
    position: relative;
    top: -4px;
  }
  .fancy-grid-tree-expander-text {
    top: -8px;
  }
  .fancy-field-checkbox {
    height: 18px!important;
  }
}

.fancy-grid-column-select.fancy-grid-tree-column-folder .fancy-grid-tree-folder-file {
  top: -2px;
}

.fancy-grid-tree-column-folder.fancy-grid-tree-column-folder .fancy-grid-tree-expander-text {
  top: -7px;
}