/*
 loadmask.less
*/
.fancy-loadmask {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(208, 208, 208, 0.5);
  z-index: 3;
}

.fancy-loadmask-inner {
  background-color: #d0d0d0;
  padding: 12px 20px;
  position: absolute;
  border-radius: 2px;
}

.fancy-loadmask-image {
  margin: auto;
  width: 30px;
  height: 30px;
  background-image: url(images/default/load.gif);
}

.fancy-loadmask-text {
  color: #1E8FC6;
  margin-top: 4px;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
}