/*
 datepicker.less
*/

.fancy-month-picker .fancy-grid-cell {
  cursor: pointer;
  .fancy-grid-cell-inner {
    cursor: pointer;
    margin-top: 12px;
  }
}

.fancy-grid-column .fancy-month-picker-cell-active {
  color: white;
  background-color: #1E8FC6;
  .fancy-grid-cell-inner {
    font-weight: bold;
  }
}

.fancy-month-picker-action-buttons {
  margin: 0 auto !important;
  float: none !important;
  .fancy-bar-button {
    margin-top: 3px !important;
  }
}