/*
 tab.less
*/

.fancy-field-tab {
    display: none;
}

.fancy-field-tab-items {

}

.fancy-field-tab-active {
  display: block;
}

.fancy-tab-wrapper {
  display: none;
}

.fancy-active-tab-wrapper {
  display: block;
}