/*
 tooltip.less
*/

.fancy-tooltip {
  position: absolute;
  display: none;
  background-color: #747474!important;
  border-color: #747474!important;
  border-radius: 2px!important;
  border-width: 1px!important;
  border-style: solid!important;
  padding: 6px 8px!important;
  box-sizing: content-box;
  z-index: 3000;
  max-width: 210px;
  overflow: hidden;
  .fancy-tooltip-inner {
    font-family: 'Open Sans','Helvetica Neue',helvetica,arial,verdana,sans-serif!important;
    color: #f0f0f0!important;
    font-size: 13px!important;
    font-weight: 300!important;
  }

  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -ms-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear;
}